@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "ZenMaruGothic", sans-serif;
  background-color: #f5f5f5;
}

@font-face {
  font-family: "ZenMaruGothic";
  src: local("ZenMaruGothic"),
    url(./fonts/ZenMaruGothic-Medium.ttf) format("truetype");
}
